<div style="background:white;overflow:hidden;">
  <%=  stylesheet_link_tag    "organisations", :media => 'screen,projection' %>

<!--<div class=left-menu>
	<div class=title>YOUR NEWS FEED</div>
		<div class=content>
		</div>
	</div> -->
	
	<style>
		 .unit {
		border-radius:5px;
		box-shadow: 3px 3px 10px rgba(0,0,0,0.02);
		box-shadow: inset 3px 3px 10px rgba(0,0,0,0.02);
		width:250px;
		float:left;
		height:200px;
		overflow:hidden !important;
		padding:10px !important;
		margin:5px !important;
		background: rgba(0,0,0,.01);
		border:none !important;
		
		}
		.organisation-block {
		overflow:hidden;
		float:left;
		}
		.raw {
		/*overflow:hidden;*/
		width:100%;
		margin-top:40px;
		}
	</style>
	
	<!-- <div class=organisation-block> -->

<h1 style="margin-top:20px;display:block;">Listing organisations</h1>
<%= link_to 'New Organisation', new_organisation_path,:style => 'float:right;' %>


<div class=raw>
<% @organisations.each do |organisation| %>
    <div class="unit-pic org-pic" style="background: url('<%= organisation.pic.url(:thumb) %>');width:60px;height:60px;"></div>

<% end %>
</div><br><br><br><br>


<div class=raw>
<% @organisations.each do |organisation| %>



<div class=unit>

    <div class="unit-pic org-pic" style="background: url('<%= organisation.pic.url(:thumb) %>');width:60px;height:60px;"></div>
	<div class=name><a href="<%= url_for organisation %>"><%= organisation.name %> (<%= organisation.followers.length %>)<a/></div><div style="height:30px;"></div>
	<div class=city><%= organisation.city %></div>
	

	<div class=clear></div>
    <div class=unit-description><%= organisation.description.slice(0..200) %>...</div>
    <div></div>
	
	<% if user_signed_in? then %>
	
	<div class="follow_<%= organisation.id %>">
		
		<% if current_user.flw(organisation) then %>
			
			<% @organisation = organisation %>
			<%= render "unfollow" %>
			
			
		<% else %>

			<% @organisation = organisation %>
			<%= render "follow" %>

		
		<% end %>
	</div>

	<% if current_user.role==17 then %>
			<div><%= link_to 'Edit', edit_organisation_path(organisation) %>
			<%= link_to 'Destroy', organisation, confirm: 'Are you sure?', method: :delete %></div>
		<% end %>
	<% end %>
	
	
	
</div>

<% end %>
<!--</div>-->





</div>

</div>