  <%= stylesheet_link_tag    "organisations", :media => 'screen,projection' %>


<div class=left-menu>
	<div class=title>YOUR NEWS FEED</div>
		<div class=content>
		</div>
	</div>
	
	<div class=body>

<h1>Listing organisations</h1>


<% @organisations.each do |organisation| %>

<%= stylesheet_link_tag "organisations", :media => 'screen,projection' %>

<div class=unit>
    <div class="unit-pic org-pic" style="background: url('<%= organisation.pic.url(:thumb) %>');width:60px;height:60px;"></div>
	<div class=rightpart>
    <div class=name><%= organisation.name %> (<%= organisation.followers.length %>)</div>
    <div class=alignright>
	<div class=unit-user><%= organisation.user.name %></div>
    <div class=city><%= organisation.city %></div>
	</div>
	<div class=clear></div>
    <div class=unit-address><%= organisation.address %></div>
    <div class=unit-contact><%= organisation.contacts %></div>
	</div>
	<div class=clear></div>
    <div class=unit-description><%= organisation.description %></div>
    <div><%= link_to 'Show', organisation %></div>

	<% if user_signed_in? then %>
		<% if current_user.role==17 then %>
			<div><%= link_to 'Edit', edit_organisation_path(organisation) %>
			<%= link_to 'Destroy', organisation, confirm: 'Are you sure?', method: :delete %></div>
		<% end %>
	<% end %>
	
</div>

<% end %>




<%= link_to 'New Organisation', new_organisation_path %>

</div>