

					<div class=left-menu>
                    <li><%= link_to('Edit Your Profile', edit_user_path(current_user))  %></li>
	<div class=title>ALL NEWS FEED</div>
		<a href="/feed">YOUR NEWS FEED</a>
		<a href="/">ALL NEWS FEED</a>
		<a href="/organizations_feed">ORGANISATIONS FEED</a>
		<a href="/contributors_feed">CONTRINUTORS FEED</a>
		
		<div class=content>

		</div>
	</div>
	
	<div class=body>
					
<%= stylesheet_link_tag    "organisations", :media => 'screen,projection' %>
<h1>You are following next users:</h1>

<%= render 'home/contributors' %>


<h1>You are following next organisations:</h1>

<% if @organisations then %>
<% @organisations.each do |organisation| %>
	
		<div class=unit>
    <div class="unit-pic org-pic" style="background: url('<%= organisation.pic.url(:thumb) %>');width:60px;height:60px;"></div>
	<div class=rightpart>
    <div class=name><%= organisation.name %> (<%= organisation.followers.length %>)</div>
    <div class=alignright>
	<div class=unit-user><%= organisation.user.name %></div>
    <div class=city><%= organisation.city %></div>
	</div>
	<div class=clear></div>
    <div class=unit-address><%= organisation.address %></div>
    <div class=unit-contact><%= organisation.contacts %></div>
	</div>
	<div class=clear></div>
    <div class=unit-description><%= organisation.description %></div>
    <div><%= link_to 'Show', organisation %>
    <%= link_to 'Edit', edit_organisation_path(organisation) %>
    <%= link_to 'Destroy', organisation, confirm: 'Are you sure?', method: :delete %></div>
</div>


<% end %>
<% end %>

</div>