<div class=events>
	<div class=title>UPCOMING EVENTS</div>
		<div class=content>
			
			<% first_time = 0 %>
			
			<% @events.each do |event| %>
			
				<div class=event>
					
					<% if first_time==0 then %>
						<% event.attachments.each do |attachment| %>
							<a href="#"><div class=thumb-pic style="background:url('<%= attachment.pic.url(:thumb) %>');">.</div></a>
							<% first_time = 1 %>
							<% break %>
						<% end %>
					<% end %>
					
					<div class=date>
						<%= event.date.strftime("%B %d") %>
					</div>
					<div class=event-title>
						<%= event.title %>
					</div>
					<div class=event-address>
						<%= event.address %>
					</div>
					<div class=time>
						<%= event.date.strftime("%I:%M %p") %>
					</div>
				</div>
			
			<% end %>
		</div>

	</div>