<!-- FEED HERE! -->
			<div class="content">

<% @posts.each do |post| %>
	
                <!-- Post Start-->
               
                <div class="post clearfix">
						<div class="unit-pic org-pic alignleft" style="background: url('<%= post.organisation.pic.url(:thumb) %>');width:58px;height:60px;"></div>
                    <div class="desc">
                        <p class="postmetadata"><strong><a class=post-organisation href='<%= url_for(post.organisation) %>'><%= post.organisation.name %></a></strong> · <%= post.created_at.strftime("%B %d, %Y") %> · <small><%= post.created_at.strftime("%I:%M %p") %></small></p>
						<a href='<%= url_for(post.category) %>'>
							<div class="category">
								<%= post.category.name %>
							</div>
						</a>
                        <div class="postcontent">
                             <a class=post-link href='<%= url_for(post) %>'>
							<p><%= post.title %></p>
							</a>
                        </div>
						
						<% if post.attachments.length == 1 then %>
							<% post.attachments.each do |attachment| %>
								<%= image_tag attachment.pic.url(:feed) %>
							<% end %>
						<% else %>
							<% post.attachments.each do |attachment| %>
								<%= image_tag attachment.pic.url(:thumb) %>
							<% end %>
						<% end %>

                    </div>
                </div>
                
                
     

<% end %>
             </div>













