

 <%= ENV['AWS_ACCESS_KEY_ID'] %>,
 <%= ENV['AWS_SECRET_ACCESS_KEY'] %>,
 <%= ENV['S3_BUCKET_NAME'] %>
 
	<div class=left-menu>
	<div class=title>YOUR NEWS FEED</div>
		<div class=content>
		</div>
	</div>
	<div class=body>
	<!-- BODY -->
	
	<%= render 'posts' %>
	</div>
	<%= render 'events' %>



