<div class=links>
	<div class=title>UPCOMING EVENTS</div>
		<div class=content>
			
			<% first_time = 0 %>
			
			<% @event.organisation.events.each do |event| %>
			
				<a class=event href="<%= url_for event %>">
					
					<% if first_time==0 then %>
						<% event.attachments.each do |attachment| %>
							<div class=thumb-pic style="background:url('<%= attachment.pic.url(:thumb) %>');">.</div>
							<% first_time = 1 %>
							<% break %>
						<% end %>
					<% end %>
					
					<div class=date>
						<%= event.date.strftime("%B %d") %>
					</div>
					<div class=event-title>
						<%= event.title %>
					</div>
					<div class=event-address>
						<%= event.address %>
					</div>
					<div class=time>
						<%= event.date.strftime("%I:%M %p") %>
					</div>
				</a>
			
			<% end %>
		</div>

	</div>