<div class=slideshow2>

<div class=left160> &nbsp;
<%= @post.category.name %>
</div>

 <div id="featured">
 
	<% @post.attachments.each do |attachment| %>
		<%= image_tag attachment.pic.url(:medium) %>
	<% end %>
    	<!--
		<ul id="items">
        	<li>
                <a href="#"><img src="images/thumbs/pic1.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic2.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic3.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic4.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic5.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic1.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic2.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic3.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic4.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
            <li>
                <a href="#"><img src="images/thumbs/pic5.png" alt="" />
                <span><strong>A Look Back on the 7 Years of Magic</strong><em>961 views</em><div class="likes">15 likes</div></span>
                </a>
            </li>
        </ul>
        <div class="clrflt"></div>
		-->
    </div>

</div>
						
						
						
						
<!-- POST BODY -->
<div class="main wrap">
	
	<div class=left-menu>
	<div class=title>ORGANIZATION</div>
		<div class=content>
			<%= @post.organisation.name %>
			<br><br>
			Join Organization			
		</div>
	<div class=title>COMMENTS</div>
	<div class=title>THIRD LINK</div>
	<div class=title>LINK OF FORTH</div>

	</div>
	
	<div class=body>
	<div class=post>
	<p id="notice"><%= notice %></p>
	
	<div class=post-title> <%= @post.title %></div>
	
	
	<div class=post-description>
	<% if @post.user_id!=0 then %>
	By <%= @post.user.name %>
	<% end %> - <%= @post.created_at.strftime("%B %d, %Y") %></div>
	<div class=post-content><%= @post.content %></div>
	</div>
	

	



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>

	<%= render 'share' %>
	<%= render 'posts/other_events' %>



</div>
