    <link rel="stylesheet" href="/assets/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/nivo-slider.css" type="text/css" media="screen" />

	<style>
	.theme-default #slider {
    margin:100px auto 0 auto;
    width:500px; /* Make sure your images are the same size */
    height:400px; /* Make sure your images are the same size */
}

	#slider .nivo-controlNav {
	position:absolute;
	bottom:-70px; /* Put the nav below the slider */
	z-index:9999;
}
#slider .nivo-controlNav img {
	display:block; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
	z-index:9999;
	width:50px;
	height:auto;
}
.nivo-control {
width:50px !important;
}
</style>

<div class=slideshow2>

<div class=left160>
Category: <%= @post.category.name %>
<br>
Views: <%= @post.views %>
</div>

 <div id="featured">
   
   <div class="slider-wrapper theme-default">  
   <div id="slider" class="nivoSlider">
	
	<% @post.attachments.each do |attachment| %>
		<%= image_tag(attachment.pic.url(:medium), :class => 'big-img') %>
	<% end %>
	
	</div>
	</div>
	
	
    	
    </div>

</div>
						
						
						
						
<!-- POST BODY -->
<div class="main wrap">
	
	<div class=left-menu>
	<div class=title>ORGANIZATION</div>
		<div class=content>
			<%= @post.organisation.name %>
			<br><br>
			Join Organization			
		</div>
	<div class=title>COMMENTS</div>
	<div class=title>THIRD LINK</div>
	<div class=title>LINK OF FORTH</div>

	</div>
	
	<div class=body>
	<div class=post>
	<p id="notice"><%= notice %></p>
	
	<div class=post-title> <%= @post.title %></div>
	
	
	<div class=post-description>
	<% if @post.user_id!=0 then %>
	By <%= @post.user.name %>
	<% end %> - <%= @post.created_at.strftime("%B %d, %Y") %></div>
	<div class=post-content><%= @post.content %></div>
	</div>
	

	


<div class=comments>
<%= render "shared/comments" %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

</div>

	<%= render 'share' %>
	<%= render 'posts/other_events' %>



</div>

    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({controlNavThumbs:true});
    });
    </script>
	
    <script type="text/javascript" src="/assets/jquery.nivo.slider.js"></script>
