<div class=left-menu>
	<div class=title>YOUR NEWS FEED</div>
		<div class=content>
		</div>
	</div>
	<div class=body>
		<%= render 'home/posts' %>
	</div>
		<% #render 'home/events' %>


		<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

		
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
