<!DOCTYPE html>
<html>
<head>
  <title>AsianWeek</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "main", :media => 'screen,projection' %>
  <%= stylesheet_link_tag    "reset", :media => 'screen,projection' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300|Maven+Pro:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

<div class=dropdown-panel>
</div>

<div class=login-window>
<%= form_for("user", :url => user_session_path) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
  <%= f.submit 'Sign in' %>
  <%= link_to "Forgot your password?", new_password_path('user') %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
</div>

<%= render 'home/control_panel' %>
<%= render 'home/logo' %>
<%= render 'home/menu' %>

<%= render 'home/categories' %>

<% if controller.controller_name=='home' then %>
	<% if controller.action_name =='index' %>
		<%= render 'home/slideshow' %>
	<% end %>
<% end %>
<% if controller.controller_name=='organisations' then %>
	<% if controller.action_name =='show' %>
		<%= render 'organisations/single' %>
	<% end %>
<% end %>

<div class="main wrap">
	<%= yield %>
</div>


</body>

<script>
	<% if user_signed_in? then %>
	$(document).ready(function () {
	$(".dropdown-panel").load("<%= url_for :controller => "posts", :action => "new", :ajax1 => true %>");
	});
	<% end %>
</script>

</html>
